body {
    padding-top: 50px;
}
h1 {
    text-align: center;
    font-size: 30px;
}
.starter-template {
    padding: 40px 15px;
}

fieldset {
    text-align: center;
}
legend {
    border-bottom: 0px;
}
.social-providers,
.sign-in-now {
    margin-top: 20px;
}

.user {
    margin-top: 50px;
}
.user .data {
    margin-top: 10px;
}
